<h2>Counter</h2>

<p>This is a simple example of an Angular 2 component.</p>
<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="decrementCounter()">Decrement </button>
<button (click)="incrementCounter()">Increment</button>

