
<h3> Task list from postres sql</h3> 
<p *ngIf="tasks" > Nb tasks : {{tasks.length}} </p>

<p *ngIf="!tasks"><em>Loading...</em></p>
<ul>
    <li *ngFor="let item of tasks">
        {{item.text}}
    </li>
</ul>